* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  border: 5px solid rgba(128, 128, 128, 0.346);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(42, 42, 42);
}
.left,
.right,
.center {
  border: 2px solid rgb(119, 119, 119);
  height: 70%;
  width: 50%;
  border-radius: 10px;
}
.items,
.person,
.circle {
  border: 2px solid rgb(119, 119, 119);
}
.center {
  width: 22%;
  display: grid;
  grid-template-rows: 30% 30%;
  grid-template-columns: 45% 45%;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}
.items {
  border-radius: 10px;
}

.right {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1%;
}
.person {
  height: 8%;
  width: 90%;
  border-radius: 30px;
}